RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
RewriteCond %{REQUEST_URI} !^(\/tli\/)?lib.*$ [NC]
RewriteRule ^\/tli\/(.*)$ /tli/index.php?page=$1 [QSA,NC,L]

ErrorDocument 404 /tli/templates/404.tpl